<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Tax\Model\Sales\Total\Quote\Subtotal">
        <plugin name="japan_tax_quote_subtotal" type="Japan\Tax\Plugin\Total\Quote\Subtotal" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Shipping">
        <plugin name="japan_tax_quote_shipping" type="Japan\Tax\Plugin\Total\Quote\Shipping" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Tax">
        <plugin name="japan_tax_quote_tax" type="Japan\Tax\Plugin\Total\Quote\Tax" />
    </type>
    <type name="Magento\Sales\Model\Order\Invoice\Total\Tax">
        <plugin name="japan_tax_invoice_tax" type="Japan\Tax\Plugin\Total\Invoice\Tax" />
    </type>
    <type name="Magento\Sales\Model\Order\Creditmemo\Total\Tax">
        <plugin name="japan_tax_creditmemo_tax" type="Japan\Tax\Plugin\Total\Creditmemo\Tax" />
    </type>
    <type name="\Magento\Sales\Model\Order\Pdf\Invoice">
        <plugin name="japan_tax_pdf_invoice" type="Japan\Tax\Plugin\InvoicePlugin" />
    </type>
    <type name="Magento\Tax\Model\TaxConfigProvider">
        <plugin name="japan_tax_config_provider" type="Japan\Tax\Plugin\TaxConfigProviderPlugin" />
    </type>
    <preference for="Japan\Tax\Api\Data\InvoiceTaxItemInterface" type="Japan\Tax\Model\InvoiceTax\InvoiceTaxItem" />
    <preference for="Japan\Tax\Api\Data\InvoiceTaxBlockInterface" type="Japan\Tax\Model\InvoiceTax\InvoiceTaxBlock" />
    <preference for="Japan\Tax\Api\Data\InvoiceTaxInterface" type="Japan\Tax\Model\InvoiceTax\InvoiceTax" />
    <preference for="Japan\Tax\Api\TaxCalculationInterface" type="Japan\Tax\Model\TaxCalculation"/>
</config>
