<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Tax\Model\Sales\Total\Quote\Subtotal">
        <plugin name="magentoj_jct_quote_subtotal" type="Magentoj\JapaneseConsumptionTax\Plugin\Total\Quote\Subtotal" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Shipping">
        <plugin name="magentoj_jct_quote_shipping" type="Magentoj\JapaneseConsumptionTax\Plugin\Total\Quote\Shipping" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Tax">
        <plugin name="magentoj_jct_quote_tax" type="Magentoj\JapaneseConsumptionTax\Plugin\Total\Quote\Tax" />
    </type>
    <type name="Magento\Sales\Model\Order\Invoice\Total\Tax">
        <plugin name="magentoj_jct_invoice_tax" type="Magentoj\JapaneseConsumptionTax\Plugin\Total\Invoice\Tax" />
    </type>
    <type name="Magento\Sales\Model\Order\Creditmemo\Total\Tax">
        <plugin name="magentoj_jct_creditmemo_tax" type="Magentoj\JapaneseConsumptionTax\Plugin\Total\Creditmemo\Tax" />
    </type>
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="magento_jct_cart_repository" type="Magentoj\JapaneseConsumptionTax\Plugin\CartRepository" />
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="magento_jct_order_repository" type="Magentoj\JapaneseConsumptionTax\Plugin\OrderRepository" />
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="magento_jct_order" type="Magentoj\JapaneseConsumptionTax\Plugin\Order" />
    </type>
    <type name="Magento\Sales\Api\InvoiceRepositoryInterface">
        <plugin name="magento_jct_invoice_repository" type="Magentoj\JapaneseConsumptionTax\Plugin\InvoiceRepository" />
    </type>
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="magento_jct_invoice" type="Magentoj\JapaneseConsumptionTax\Plugin\Invoice" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Invoice\Collection">
        <plugin name="magento_jct_invoice_collection" type="Magentoj\JapaneseConsumptionTax\Plugin\InvoiceCollection" />
    </type>
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="magento_jct_creditmemo_repository" type="Magentoj\JapaneseConsumptionTax\Plugin\CreditmemoRepository" />
    </type>
    <type name="Magento\Sales\Model\Order\Creditmemo">
        <plugin name="magento_jct_creditmemo" type="Magentoj\JapaneseConsumptionTax\Plugin\Creditmemo" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Creditmemo\Collection">
        <plugin name="magento_jct_creditmemo_collection" type="Magentoj\JapaneseConsumptionTax\Plugin\CreditmemoCollection" />
    </type>
    <type name="\Magento\Sales\Model\Order\Pdf\Invoice">
        <plugin name="magentoj_jct_pdf_invoice" type="Magentoj\JapaneseConsumptionTax\Plugin\Pdf\Invoice" />
    </type>
    <type name="\Magento\Sales\Model\Order\Pdf\Creditmemo">
        <plugin name="magentoj_jct_pdf_creditmemo" type="Magentoj\JapaneseConsumptionTax\Plugin\Pdf\Creditmemo" />
    </type>
    <type name="Magento\Tax\Model\TaxConfigProvider">
        <plugin name="magentoj_jct_config_provider" type="Magentoj\JapaneseConsumptionTax\Plugin\TaxConfigProvider" />
    </type>
    <preference for="Magentoj\JapaneseConsumptionTax\Api\Data\InvoiceTaxItemInterface" type="Magentoj\JapaneseConsumptionTax\Model\InvoiceTax\InvoiceTaxItem" />
    <preference for="Magentoj\JapaneseConsumptionTax\Api\Data\InvoiceTaxBlockInterface" type="Magentoj\JapaneseConsumptionTax\Model\InvoiceTax\InvoiceTaxBlock" />
    <preference for="Magentoj\JapaneseConsumptionTax\Api\Data\InvoiceTaxInterface" type="Magentoj\JapaneseConsumptionTax\Model\InvoiceTax\InvoiceTax" />
    <preference for="Magentoj\JapaneseConsumptionTax\Api\Data\JctTotalsInterface" type="Magentoj\JapaneseConsumptionTax\Model\JctTotals" />
    <preference for="Magentoj\JapaneseConsumptionTax\Api\TaxCalculationInterface" type="Magentoj\JapaneseConsumptionTax\Model\TaxCalculation"/>
</config>
