<!-- ko if: isBothPricesDisplayed() -->
<tr class="totals sub excl jct10">
  <th class="mark" scope="row">
      <span data-bind="i18n: subJct10Title"></span>
      <span data-bind="i18n: excludingTaxMessage"></span>
  </th>
  <td class="amount">
      <span class="price" data-bind="text: getJct10Value(), attr: {'data-th': excludingTaxMessage}"></span>
  </td>
</tr>
<tr class="totals sub incl jct10">
  <th class="mark" scope="row">
      <span data-bind="i18n: subJct10Title"></span>
      <span data-bind="i18n: includingTaxMessage"></span>
  </th>
  <td class="amount">
      <span class="price" data-bind="text: getJct10ValueInclTax(), attr: {'data-th': includingTaxMessage}"></span>
  </td>
</tr>
<tr class="totals sub excl jct8">
  <th class="mark" scope="row">
      <span data-bind="i18n: subJct8Title"></span>
      <span data-bind="i18n: excludingTaxMessage"></span>
  </th>
  <td class="amount">
      <span class="price" data-bind="text: getJct8Value(), attr: {'data-th': excludingTaxMessage}"></span>
  </td>
</tr>
<tr class="totals sub incl jct8">
  <th class="mark" scope="row">
      <span data-bind="i18n: subJct8Title"></span>
      <span data-bind="i18n: includingTaxMessage"></span>
  </th>
  <td class="amount">
      <span class="price" data-bind="text: getJct8ValueInclTax(), attr: {'data-th': includingTaxMessage}"></span>
  </td>
</tr>
<!-- /ko -->
<!-- ko if: !isBothPricesDisplayed() && isIncludingTaxDisplayed() -->
<tr class="totals sub jct10">
  <th data-bind="i18n: subJct10Title" class="mark" scope="row"></th>
  <td class="amount">
      <span class="price" data-bind="text: getJct10ValueInclTax(), attr: {'data-th': subJct10Title}"></span>
  </td>
</tr>
<tr class="totals sub jct8">
  <th data-bind="i18n: subJct8Title" class="mark" scope="row"></th>
  <td class="amount">
      <span class="price" data-bind="text: getJct8ValueInclTax(), attr: {'data-th': subJct8Title}"></span>
  </td>
</tr>
<!-- /ko -->
<!-- ko if: !isBothPricesDisplayed() && !isIncludingTaxDisplayed() -->
<tr class="totals sub jct10">
  <th data-bind="i18n: subJct10Title" class="mark" scope="row"></th>
  <td class="amount">
      <span class="price" data-bind="text: getJct10Value(), attr: {'data-th': subJct10Title}"></span>
  </td>
</tr>
<tr class="totals sub jct8">
  <th data-bind="i18n: subJct8Title" class="mark" scope="row"></th>
  <td class="amount">
      <span class="price" data-bind="text: getJct8Value(), attr: {'data-th': subJct8Title}"></span>
  </td>
</tr>
<!-- /ko -->
